.contentPagination{
  width: 60px;
  position: relative;
  top: 70vh;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.pagination {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  width: 60px;
  gap: 4px;
  z-index: 10;
} 

.lineFlower {
  height: 14px;
  width: 2px;
  background: var(--black);
  position: absolute;
  z-index: 9;
  
}

.lineFlower.l1{
  top: 17px;
}
.lineFlower.l2{
  top: 47px;
}
.lineFlower.l3{
  top: 74px;
}
.lineFlower.l4{
  top: 104px;
}

.leafPagination{
  width: 11px;
  height: 7px;
  border-radius: 8.5px 0px;
  background: var(--black);
  position: absolute;
  z-index: 9;
  left: 35px;
  top: 110px;
}

/* .leafPagination{
  width: 11px;
  height: 7px;
  border-radius: 8.5px 0px;
  background: var(--black);
  position: absolute;
  z-index: 9;
  left: 35px;
  top: 135px;
} */

.pagination a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.pagination svg {
  width: auto;
} 

.pagination a span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.pagination a:hover svg {
  transition: opacity 0.7s;
  opacity: 0;
}

.pagination a:hover span {
  transition: opacity 0.7s;
  opacity: 1;
}

a:hover, a:active {
  text-decoration: none;
  color: inherit;
}