.proyectContainer {
  height: 100vh;
}

.webSection {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-y: scroll;
}

.numberSection {
  font-size: var(--numbersection);
  font-family: var(--font-family-body);
  font-weight: bold;
  color: var(--quinary_600);
}

/* SECCIÓN LOCATION */
.containerLocation {
  display: grid;
  grid-template-areas: "column1 column2";
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.containerTextLocation {
  grid-area: column1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textLocation {
  width: 60%;
  height: 60%;
  white-space: break-word;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textLocation h4 {
  position: absolute;
  top: 71px;
  left: 65px;
}

.mapsLocation {
  grid-area: column2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSwitch {
  display: grid;
  grid-template-areas: "switch text";
  width: 50%;
  margin-top: 20px;
  gap: 10px;
}

.containerSwitch p,
.containerReferences p,
.containerSwitchColumn p {
  font-size: var(--body-12);
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--quinary_600);
  border: 1px solid var(--quinary_600);
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  border-radius: 50%;
  background: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: var(--primary_600);
  border: 1px solid var(--primary_600);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.containerReferences {
  font-size: var(--body-12);
  display: grid;
  grid-template-areas: "population zoning";
  grid-template-columns: 50% 50%;
}

.referencesPopulation {
  grid-area: population;
}
.structureReference {
  display: grid;
  grid-template-areas: "recReference textReference";
  grid-template-columns: 25px auto;
  row-gap: 3px;
  margin-top: 5px;
}

.referencesZoning {
  grid-area: zoning;
}

.structureRefZoning {
  display: grid;
  grid-template-areas: "recReference textReference";
  grid-template-columns: 25px auto;
  row-gap: 3px;
  margin-top: 5px;
}

.recReference {
  width: 14px;
  height: 14px;
  border: 1px solid #000000;
}

.recReference.ref1 {
  background: #fff7eb;
}
.recReference.ref2 {
  background: #ffeac9;
}
.recReference.ref3 {
  background: #fccb8b;
}
.recReference.ref4 {
  background: #fc8c58;
}
.recReference.ref5 {
  background: #e34a32;
}
.recReference.ref6 {
  background: #b30000;
}
.recReference.ref7 {
  background: #ec8a87;
}
.recReference.ref8 {
  background: #e5d597;
}
.recReference.ref9 {
  background: #b7ccab;
}

/* SECCIÓN INDICATORS */

.containerIndicators {
  display: grid;
  grid-template-areas:
    "ind1 ind2"
    "map map";
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 100vh;
}

.row1 {
  background: aquamarine;
  grid-area: map;
}

.containerTextIndicators {
  grid-area: ind1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textIndicators {
  width: 60%;
  height: 60%;
  white-space: break-word;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textIndicators h4 {
  position: absolute;
  top: 71px;
  left: 65px;
}

.containerSwitchIndicators {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerSwitchColumn {
  display: grid;
  height: 50%;
  grid-template-areas: "switch text";
  /* width: 50%; */
  grid-template-columns: 40px auto;
  margin-top: 30px;
  gap: 10px;
}
.switchTitle {
  /* grid-area: switch text; */
  grid-column: 1 / 3;
}

/* SECCIÓN LAND */
.containerLand {
  display: grid;
  grid-template-areas: "a1 a2";
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.containerIconsLand {
  grid-area: a1;
  background: var(--primary_600);
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerTextLand {
  grid-area: a2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inconsLand {
  display: flex;
  flex-direction: column;
  width: 110px;
  white-space: break-word;
  align-items: center;
  text-align: center;
}

.inconsLand div {
  margin-top: 8px;
}

.recImg {
  width: 100px;
  height: 100px;
  background: paleturquoise;
}

/* SECCIÓN ANALYSIS */
.containerAnalysis {
  display: grid;
  grid-template-areas:
    "mapSection analysis"
    "map map";
  grid-template-columns: 50% 50%;
  grid-template-rows: 65% 35%;
  height: 100vh;
}

.containerMapSwitch {
  grid-area: mapSection;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map {
  width: 50%;
  height: 75%;
  background: peru;
}
.containerSwitchColumn.analysis {
  margin-top: 0px;
  width: 30%;
}

.anal2 {
  grid-area: analysis;
  background: lightblue;
}

.mapSelectSection {
  grid-area: map;
  background: lemonchiffon;
  padding: 10px 80px;
}

/* SECCIÓN REGULATION */
.containerRegulation {
  /* display: grid; */
  /* grid-template-areas: "infoReg tagsReg"; */
  /* grid-template-columns: 70% 30%; */
  height: 100vh;
  display: flex;
}

.containerRegulationInfo {
  /* grid-area: infoReg; */
  /* background: lightblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh;
}

.regulationInfo {
  width: 50%;
  height: auto;
}

.regulationInfo p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mapRegulation {
  background: papayawhip;
  width: 100%;
  height: 130px;
}

.containerRegulationCard {
  /* grid-area: tagsReg; */
  width: 30%;
  background: yellowgreen;
  display: flex;
}

.tag1 {
  background: palevioletred;
  height: 100vh;
  /* width: 50%; */
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  /* z-index: 5; */
}

.tag2 {
  background: purple;
  height: 100vh;
  /* width: 50%; */
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.tag1 h4,
.tag2 h4 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  width: 30px;
  margin-bottom: 70px;
}

.tag1 button,
.tag2 button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.tag1.expanded {
  /* grid-column: 1 / 3 ; */
  z-index: 5;
  width: 100vw;
}



/* SECCIÓN PREMISES */
.containerPremises {
  display: grid;
  grid-template-areas: "a1 a2";
  grid-template-columns: 60% 40%;
  height: 100vh;
}

.prem1 {
  grid-area: a1;
  background: rosybrown;
}

.prem2 {
  grid-area: a2;
  background: hotpink;
}

